ACS_API_HOST=api-acs.example.net
ACS_DEVICE_HOST=acs.example.net
ACS_API_USERNAME=ftth-app
ACS_API_PASSWORD_HASH='replace-with-caddy-bcrypt-hash'
FTTH_CPE_CWMP_AUTH_MODE=off
FTTH_CPE_ONT_ACS_USERNAME=
FTTH_CPE_ONT_ACS_PASSWORD=
